main {
  display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Lato;
}
ul {
  margin: 0;
}
li {
  list-style-type: none;
  display: inline-block;
}
.cookies {
  height: 72px;
  background-color: #194277;
  text-align: center;
}
.cookies p {
  height: 12px;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  margin-right: 50px;
}
.cookies button {
  width: 112px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #194277;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.36px;
  letter-spacing: 0.55px;
}
.cookies button:hover {
  background: #3695ff;
  color: #ffffff
}
.welcome {
  height: 872px;
  background-color: #3695ff;
  background-image: linear-gradient(45deg, #3695ff 20%, #469dff 20% 40%, #4098ff 40% 60%, #3c89fe 60% 80%, #357afd 80%);
  text-align: center;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: flex-end;

}
.elipsa {
  margin: 115px auto 80px;
}
.welcome h1 {
  width: 809px;
  height: 98px;
  color: #ffffff;
  font-family: Lato;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  margin: 50px auto;
}
.welcome p {
  width: 800px;
  height: 50px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin: 50px auto;
}
.welcome button {
  width: 204px;
  height: 55px;
  border-radius: 28px;
  background-color: #ffffff;
  color: #3695ff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin: 50px auto;
}
.welcome button:hover {
  background: #194277;
  color: #ffffff
}
.about {
  height: 405px;
  background-color: #ffffff;
  text-align: center;
}
.about h2 {
  width: 220px;
  height: 38px;
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  line-height: 35.12px;
  margin: 115px auto;
}
.about p {
  width: 1067px;
  height: 85px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  margin: 115px auto;
}
.expert {
  width: 100%;
  background-color: #f1f8ff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.expert h2 {
  height: 45px;
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  line-height: 35.12px;
  padding-top: 100px;
}
.expert h3 {
  height: 18px;
  color: #3677fd;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.expert p {
  height: 100px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  overflow: hidden;
}
div.skills {
  width: 500px;
  margin: 150px 100px;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.align {
  display: flex;
  justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
  margin: 0 auto;
}
.works {
	width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
div.works-border {
  width: 360px;
  height: 270px;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  align-content: center;
  margin: 55px 30px;
}
.works-border {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works h2 {
  height: 38px;
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  line-height: 35.12px;
  margin: 100px auto;
}
.works-align {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 55px 30px;
}
.clients {
  width: 100%;
  height: 363px;
  background-color: #f1f8ff;
  flex-direction: column;
  text-align: center;
}
.clients h2 {
  height: 38px;
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  line-height: 35.12px;
  padding-top: 90px;
  margin: 0 auto 90px;
}
.clients-align {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.clients img {
  filter: grayscale(100%);
}
.clients img:hover {
  filter: none;
}
div.clients-align {
  margin: 0 100px;
}
.ready {
  height: 247px;
  background-color: #3695ff;
  background-image: linear-gradient(45deg, #3695ff 20%, #469dff 20% 40%, #4098ff 40% 60%, #3c89fe 60% 80%, #357afd 80%);
  text-align: center;
}
.ready p {
  height: 47px;
  color: #ffffff;
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  line-height: 65px;
  color: #ffffff;
  font-family: "Lato Light";
  font-weight: 300;
}
.thick {
  color: #ffffff;
  font-family: "Lato Bold";
  font-weight: 700;
}
.ready li {
  margin: 0 65px;
}
.ready button {
  width: 204px;
  height: 55px;
  border-radius: 28px;
  background-color: #ffffff;
  color: #3695ff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.ready button:hover {
  background: #194277;
  color: #ffffff
}
